/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');


.open > .dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity:1;
}

.dropdown-menu {
    opacity:.3;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    display: block;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

/* Custom container */
.container-fixed {
    margin: 10% auto;
    max-width: 480px;
}


.navbar-nav
{
    float:right;
}

/*h1, h2, h3, .highlight, .navbar a, .navbar-brand, #masthead h4 {*/
    /*font-family: 'Oswald', arial narrow, sans-serif;*/
/*}*/

/*h3 a {*/
    /*font-size: 24pt;*/
/*}*/


.img_cover{
    max-width: 150px;

}