/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #3D9739;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {*/
    /*width: auto;*/
    /*max-width: 680px;*/
    /*padding: 0 15px;*/
/*}*/
/*.container .text-muted {*/
    /*margin: 20px 0;*/
/*}*/
